<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-LlPOZK7jvvPEMrrhdqVlEYmX2u/GWKdcq/p7wuVYAUladqNeK7VN1PUZQDmiqlql" crossorigin="anonymous">  
    <script type="text/javascript">function myFunction() {
      location.reload();} 
      function ran_col(){
         color ='#';
         letters =['fff','17a2b8','20c997','28a745','ffc107','fd7e14','dc3545','e83e8c','6f42c1','6610f2','007bff'];
         color += letters[Math.floor(Math.random()*letters.length)];
         document.body.style.background= color;
     }
      </script>
  </head>
  <body onload="ran_col()">
      <div class="jumbotron">
          <h1 class="display-3"><%= title %></h1>
          <p class="lead">This is a random quote generator. </p>
          <hr class="my-4">
          <p>I tell you interesting random quotes</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/quotes" role="button">Click to read</a>
          </p>
          Made with <span style="color: #e25555;">&#9829;</span> by Apoorv Anand
        </div>
  </body>
</html>
