<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-LlPOZK7jvvPEMrrhdqVlEYmX2u/GWKdcq/p7wuVYAUladqNeK7VN1PUZQDmiqlql" crossorigin="anonymous">  </head>
  <body>
      <div class="jumbotron">
          <h1 class="display-3"><%= title %></h1>
          <p class="lead">This is a random quote generator. </p>
          <hr class="my-4">
          <p>I tell you interesting random quotes</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/quotes" role="button">Click to read</a>
          </p>
          Made with <span style="color: #e25555;">&#9829;</span> by Apoorv Anand
        </div>
  </body>
</html>
