<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=0.8">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-LlPOZK7jvvPEMrrhdqVlEYmX2u/GWKdcq/p7wuVYAUladqNeK7VN1PUZQDmiqlql" crossorigin="anonymous">  
    
    <script type="text/javascript">function myFunction() {
      location.reload();} 
      function ran_col(){
         color ='#';
         letters =['fff','17a2b8','20c997','28a745','ffc107','fd7e14','dc3545','e83e8c','6f42c1','6610f2','007bff','4DBA58','19C2F2','DB0E7C','F26B21','F7A319','D54733','0E5D9E','3AA84B','ECC417','E8931E'];
         color += letters[Math.floor(Math.random()*letters.length)];
         document.body.style.background= color;
     }
      </script>
  </head>
  <body onload="ran_col()">
      <div class="jumbotron">
          <h1 class="display-3"><%= title %></h1>
          <p class="lead">This is a random quote generator. </p>
          <hr class="my-4">
          <p>I will tell you some interesting random quotes</p>
          <p class="lead">
            <a class="btn btn-success btn-lg" href="/quotes" role="button">Click to read</a>
          </p>
          <p class="lead">
            <a class="btn btn-info btn-lg" href="/api" role="button">Click to go to api</a>
          </p>
          Made with <span style="color: #e25555;">&#9829;</span> by Apoorv Anand
        </div>
  </body>
</html>
