<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Random quotes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Random Quotes</h1>
    <p>Welcome to Random Quotes</p>
    <h2> Your random quote is <%= quote %></h2>
  </body>
</html>
